<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"
    />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <script src="../public/javascripts/main.js"></script>
  </head>
  <body>
    <h1></h1>
    <div class="ui green button" id="create">Create User</div>
    <br /><br />
    <div class="ui yellow button" id="reads">Read Users</div>
    <br /><br />
    <div class="ui purple button" id="searches">Search User</div>
    <br /><br />
    <div class="ui blue button" id="read">Read User</div>
    <br /><br />
    <div class="ui orange button" id="update">Update User</div>
    <br /><br />
    <div class="ui red button" id="destroy">Destroy User</div>
  </body>
</html>
